/* Globales */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist Sans';
    src: url('src/assets/fonts/GeistVariableVF.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
}

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Lato';
    color: #333;
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}
